- Tech stack: Typescript React (vite), Tailwind v3, postgres, Node.JS, MinIO, Docker
- You are not able to see or modify .env files directly - so tell the user what they should add to the file if needed
- Avoid classes/OOP and use a functional programming style
- Never try to start the app itself (I have it running in a separate terminal)